@import '../../vendors/mixins';
@import '../../vendors/variables';

.second-part{
    width: 1519px;
    height: 1131.56px;
    margin-top: 80px;
    margin-bottom: 0;
    .container {
        width: 1400px;
        height: 1131.56px; //1146.56p
        margin: 0 auto;
        #image1{
            width: 1400px;
            height: 788.36px; 
        }
        #text1{
            width: 1400px;
            height: 232.2px;
            margin-top: 75px;
            text-align: center;
            span {
                font-family: "GT Walsheim Pro Regular",Sans-serif;
                font-size: 36px;
                font-weight: 400;
                line-height: 1.2em;
                color: #000;
            }
            p {
                font-family: "GT Walsheim Pro Regular",Sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 36px;
                color: #919191;
                margin: 0 188px;
                margin-top: 40px;
            }
        }
        #text2{
            width: 1400px;
            height: 36px;
            text-align: center;
            box-sizing: border-box;
            a {
                height: 36px;
                color: #000;
                border-style: solid;
                border-width: 0 0 2px;
                border-color: #000;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-shadow: none;
                text-decoration: none;
                &:hover {
                    color: #ffa749;
                    border-color: #ffa749;
                }
                &:focus {
                    outline: none !important;
                }
                &:focus-visible {
                    outline: #ffa749 auto 1px;
                }
            }
            span {
                font-family: "MaisonNeue-Medium",Sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1em;
            }      
        }
    }
}
.third-part {
    width: 1400px;
    height: 1139.75px;

    margin: 0 auto;
}