$main-font: "GT Walsheim Pro Regular", Sans-serif;

@mixin font($size, $family, $weight, $height) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  line-height: $height;
}

.contact-box {
  padding: 40px 15px;
  margin: 0 25px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  position: relative;

  .phone {
    @include font(24px, $main-font, 500, 24px);
  }

  .call {
    color: #868686;
    @include font(15px, $main-font, 400, 16px);
  }

  img {
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    max-width: 100%;
  }
}

.genel {
  display: flex;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0 15px;
  width: 1269px;
  left: -30px;
}

.message-box {
  display: block;

  input::placeholder {
    font-family: $main-font;
  }

  .msgbox-text {
    font-family: $main-font;
    color: #242424;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 500;
  }
  .submit-button{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #000;
    // border: none;
    border-style: solid;
    border-width: 0;
    border-radius: 3px;
  }
  .submit-button:hover{
    cursor: pointer;
    background-color: #2DBBF0;
    transition: 0.5s;
  }
  .name{
    display: block;
    width: 400px;
    padding: 0 20px;
  }
}

