@import "../../vendors/variables";

.home-slider-field{
    width: 100%;
    height: 100vh;
    background-color: #974C35;
    overflow: hidden;
    @media( max-width: 767px){
        max-width: 750px;
        height: 350px;
        position: relative;
        overflow: hidden;
    }
}

.bg{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/bg.jpg);
}
.blank{
    width: 1%;
}